@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Manager</h1>
    <p></p>
</div>

<section>
    <img src ="~/css/flower.jpg"  style="margin-top:50px; display: block; margin-left: auto; margin-right: auto; width: 90%; "/>
</section>
